.big-card {
  width: 650px;
  min-height: 400px;
  border-radius: 25px;
  box-shadow: $shadow;
  position: relative;
  padding: 25px;
  margin: 20px;
  transition: .2s;
  background-color: $dark-main;
  display: flex;
  gap: 25px;
  overflow: hidden;
  color: $light-second;

  &__info {
    overflow: hidden;
  }
  

  &__img {
    width: 300px;
    height: 300px;
    box-shadow: $shadow;
    border-radius: 100%;
  }

  &__title {
    color: $light-main;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
  }

  &__status {
    color: $active-main;
    font-weight: 800;
  }

  &__species {
    margin-top: 100px;
  }
}