.card-button {
  padding: 15px 25px;
  background-color: $light-main;
  border: 1px solid $dark-main;
  color: $dark-main;
  border-radius: 25px;
  transition: .2s;
  cursor: pointer;

  &:hover {
    background-color: $light-main-trans80;
  }

  &:disabled {
    background-color: $light-second;
    cursor: default;
  }
}

.close-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &__stick {
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: $light-second;
  }

  &__top-stick {
    transform: rotate(-45deg);
  }

  &__bottom-stick {
    transform: rotate(45deg);
  }
}