.form-cards-container {
  width: 100%;
  padding: 60px 0px 30px;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}