.header {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 30px 0px;


  &__name {
    width: 347px;
    font-size: 50px;
  }

  &__page-name {
    align-self: flex-end;
    color: $active-main;
    font-size: 50px;
    font-weight: bold;
  }

}