.app-form {
  position: relative;

  &__title {
    font-size: 35px;
    font-weight: 600;
  }

  &__border {
    padding: 40px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: $shadow;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px;
    gap: 10px;
  }

  &__error-text {
    visibility: hidden;
    transition: .3s;
    color: transparent;
    transform: translateY(-50px);

    &_active {
      transition: .3s;
      visibility: visible;
      color: $active-main;
      transform: translateY(0px);
    }
  }

  &__input-block {
    width: 100%;
  } 
}

.input-block {

  &__label {
    display: flex;
    align-items: center;
    width: auto;
  }

  &__title {
    display: block;
    color: $light-second;
    width: 120px;
    font-weight: 400;
  }

  &__input {
    width: 250px;
    box-sizing: border-box;
    padding: 7px 20px;
    border-radius: 17px;
    border: 1px solid $light-main;
    outline: none;
    color: $light-main;
  }

  &__label-check {
    display: none;
  }

  &__label-check,
  &__label-text {
    cursor: pointer;
    transition: .3s;
  }

  &__label-check:hover,
  &__label-text:hover,
  &__label-check:checked + &__label-text {
    color: $light-main;
  }

  &__label-text::before {
    content: '';
    display: inline-flex;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid $light-second;
    margin-right: 7px;
    transition: .2s;

    .input-block__checkbox & {
      border-radius: 2px;
    }

    .input-block__radio & {
      border-radius: 100%;
    }

   .input-block__label-check:checked + & {
      background-color: $light-main;
      border: 1px solid $light-main;
    }
  }

  &__border {
    padding: 20px 0px 0px;
    border-radius: 15px;
    border: none;
    color: $light-second;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__img-input::-webkit-file-upload-button {
    background-color: transparent;
    margin-right: 10px;
    width: 250px;
    padding: 7px 20px;
    border-radius: 17px;
    border: 1px solid $light-main;
    color: $light-main;
    cursor: pointer;
  }

}

select.input-block__input {
  cursor: pointer;
}